@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --bgcolor: #fff;
    --iconColor: #ff4d30;
}

body{
    background-color: var(--bgcolor);
   
}


.container{
    width: 100%;
    height: 100vh;
}
/* Hero Page Background */
.hero-page-bg{
    
    width: 100%;
    height: 60em;
    position: absolute;
    z-index: -10;
    overflow: hidden;
    
}

.hero-page-bg img{
    height: 48em;
    width: 50em;
    position: relative;
    left: 50%;
}

/* Nav Bar */

.nav-bar{
    height: 5em;
    width: 100%;
    
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
   
    
}

.nav-inner img{
    width: 7em;
    height: auto;
    
}

ul{ 
    list-style: none;
    display: flex;
    gap: 3em;
   
}

ul a{
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.account-btn{
    width: 15em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in, .register{
    width: 7.8em;
    height: 3.1em;
    font-weight: 600;
    font-size: 1em;
    border-radius: 3px;
}

.sign-in{
    background: transparent;
    border: none;
}

.register{
    background-color: var(--iconColor);
    color: white;
    border: none;
}

/* =====================================================================Hero Page================================================== */

.hero-page{
    width: 100%;
    height: 42em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hero-title{
   
    height: 35em;
    width: 40em;
    margin-left: 3em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    line-height: 3em;

}

.hero-title > h3{
    font-weight: 700;
    font-size: 1.8em;
}

.hero-title h1{
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.2em;
}

.title-word{
    color: var(--iconColor);
}

.hero-title p{
    line-height: 1.4em;
    color: gray;
    font-size: 1em;
    margin-top: 1em;
}

.book-btn, .learn-btn{
    width: 11em;
    height: 4.4em;
    margin-top: 2em;
    font-size: 1em;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);
}

.book-btn{
    background-color: var(--iconColor);
    
}

.book-btn img{
    width: 1.3em;
    filter: invert();
   
}

.learn-btn{
    background-color: rgb(17, 17, 17);
}

.learn-btn img{
    width: 1em;
    filter: invert();
}

/* ==========================================================================Booking Form============================================ */

.booking-form{
    width: 80%;
    height: auto;
    margin: auto;
   display: flex;
   flex-direction: column;
   padding: 4em 4.5em 5em 5.5em;
   background-image: url(/Car-rental/Assets/book-bg.6f629a1041e9fd9c6685.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   z-index: 5;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);
   border-radius: 8px;
   position: relative;
}

.booking-form h2{
    font-weight: 800;
    font-size: 1.8em;
    margin-bottom: 1em;
    position: static;
}


.form-field{
    display: inline-flex;
    flex-direction: column;
    width: 20em;
    height: 5em;
    position: sticky;

}

.form-field label{
    font-weight: 800;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.form-input{
    width: 23.75em;
    height: 2.81em;
}

.form-svg{
    width: 1em;
    aspect-ratio: 1/1;
}

.search-btn label{
    color: white;
}

.search-btn input{
    background-color: var(--iconColor);
    color: white;
    font-weight: 700;
    font-size: 1em;
    border: none;
    width: 19.87em;
    height: 2.4em;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
}

/* =======================================================================Steps Page============================================== */

.steps-section{
    width: 100%;
    height: auto;
    margin-top: 8em;
    text-align: center;
}

.steps-section h3{
    font-weight: 500;
    font-size: 1.4em;
}

.steps-section h2{
    font-weight: 500;
    font-size: 2.8em;
}

.steps-div{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 8em;
}

.steps{
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    
}

.steps img{
    aspect-ratio: 1/1;
    width: 12em;
}

.steps h2{
    font-weight: 600;
}

.steps p{
    font-size: 1em;
    margin-top: 2em;
    color: gray;
}

/* =====================================================================Vehicle Page================================================== */

.vehicle-page{
    width: 100%;
    height: auto;
}

.vehicle-title{
    text-align: center;
}

.vehicle-title h3{
    font-weight: 500;
    font-size: 1.4em;
}

.vehicle-title h2{
    font-weight: 500;
    font-size: 2.8em;
}

.vehicle-title p{
    width: 25em;
    margin: 0 auto;
    color: grey;
}


.vehicle-models{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.models-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.models-name button{
    width: 18em;
    height: 5em;
    color: black;
    font-weight: 800;
    font-size: 1em;
    margin-bottom: 0.5em;
    border: 0.1em;
    border-radius: 1em;
   
}

.models-name button:focus{
    background-color: var(--iconColor);
    color: white;
}

.models-name button:hover{
    background-color: var(--iconColor);
    color: white;
}

.models-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.models-img img{
    width: 70%;
}

.vehicle-detile{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.field{
   border: 1px red solid;
   width: 18em;
   height: 3.45em;
   font-weight: 600;
   border-radius: 0.2em;
}

.reserved-btn{
    width: 18em;
    height: 4em;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1em;
    border-radius: 0.4em;
    background-color: var(--iconColor);
    border: 0.1em;
    color: white;
}

.vehicle-detile div{
    display: flex;
    align-items: center;
    padding: 0 1.5em;
}



.vehicle-detile span{
    border-right: black 0.01em solid;
    width: 8em;
}

.price-field span{
    border: none;
    width: auto;
    margin-left: 0.4em;
    font-size: 1.3em;
   
}

.price-field{
    background-color: var(--iconColor);
    color: white;
}

.field-input{
  text-align: center;
  border: none;
}

/* =============================================================Slogan Strip======================================================= */

.slogan-strip{
    width: 100%;
    height: 15em;
    background-color: rgb(41, 40, 40);
    color: white;
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slogan-strip h2{
    font-size: 3em;
    font-weight: 700;
    
}

.slogan-strip h3{
    font-size: 1.5em;
    font-weight: 600;
    
}

.slogan-strip span{
    color: var(--iconColor);
}

/* ===================================================================Jeeps Img========================================================== */

.jeep-img-page{
    margin-top: 2.5em;
    width: 100%;
    height: auto;
}

.jeep-img-page img{
    width: 70%;
    margin-left: 16%;
}

/* =====================================================================Some another information=============================================== */

.info{
    
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-left{
    
    width: 76%;
    height: auto;
    margin-left: auto;
   padding: 1em;
}

.info-left h3{
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.info-left h2{
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.info-left p{
    color: grey;
    line-height: 1.6em;
    width: 29em;
    height: auto;
    margin-bottom: 1em;
}

.info-left-btn{
    width: 10em;
    height: 4.4em;
    font-size: 1em;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);
    background-color: var(--iconColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.info-left-btn img{
    width: 0.7em;
    height: auto;
    filter: invert();
}

.info-right{
    width: 100%;
    height: auto;
    padding: 1em;
}

.info-right-box{
    display: flex;
    gap: 1em;
}

.info-right-img{
    width: 8em;
    height: auto;
}
.info-right-img img{
    width: 100%;
    height: auto;
}

.info-right-text{
    width: 29em;
}

.info-right-text p{
    color: grey;
}

/* ==============================================================Review Page============================================== */

.review-page{
    width: 100%;
    height: auto;
    margin-top: 6em;
    background-color: whitesmoke;
    padding: 5em;
}

.review-title{
    width: 100%;
    height: auto;
    text-align: center;
}

.review-title h3{
    font-size: 1.3em;
    font-weight: 400;
}

.review-title h2{
    font-size: 2.5em;
    font-weight: 600;
}

.review-title p{
    color: grey;
    width: 46em;
    margin: auto;
}

.review-boxs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 6em;
}

.reviews{
    
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    background-color: white;
    width: 30em;
    height: 20em;
    padding: 2em;
    border-radius: 1em;
}

.reviews-comments{
    font-size: 1.7em;
    font-weight: 600;
}

.reviews-profile{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 0.9em;
}

.review-profile-img{
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%;
    object-fit: cover;
    border: 0.1em solid var(--iconColor);
}

.quote-img{
    width: 3em;
    filter: invert(50%);
    transform: scaleX(-1);
    margin-left: auto;
}
.profile-id{
    line-height: 1.2em;
}

.profile-id :first-child{
    font-weight: 600;
   
}

.profile-id :last-child{
    color:gray;
    font-size: small;
}

/* =====================================================Footer page========================================== */

.footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    padding: 4em;
    gap: 3em;
}

.footer h2{
    font-size: 1.8em;
}

.footer-1{
    width: 100%;
    height: auto;
    line-clamp: 10em;
}

.footer-1 p{
    font-size: 0.9em;
    font-weight: 500;
    margin: 1em 0;
    display: flex;
    gap: 0.7em;
    
}

.footer-1 img{
    width: 1.8em;
}

.company-list{
    margin: 0.7em 0;
    flex-direction: column;
    gap: 0.4em;
}

.time-list{
    flex-direction: column;
    margin: 1em 0;
    gap: 0.4em;
}

.footer-4 p{
    margin-top: 0.9em;
    width: 15em;
}

.footer-4 form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.footer-4 input[type=email]{
    width: 20em;
    height: 4em;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    border: 0.1em solid;
}

.footer-4 input[type=submit]{
    width: 16.7em;
    height: 3.5em;
    color: white;
    background-color: var(--iconColor);
    font-weight: 600;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
}

/* =================================================================Copy rights============================================ */

.copy-right{
    width: 100%;
    height: auto;
    background-color: rgb(45, 44, 44);
    color: white;
    padding: 1em;
    text-align: center;
}

.footer-frame, .footer-iframe{
    width: 100%;
    height: 26.58rem;
    margin:0;
}

.steps-page, .steps-frame{
    width: 100%;
    height: 53rem;
}
