@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #FAB2FF 10%, #2209ff 100%);
  display: grid;
  grid-template-columns: 50% 50%;

}

body img{
  width: 45rem;
  justify-self: end;
  align-self: self-end;
}


.container {
  width: 50%;
  height: 60%;
  justify-self: center;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.215);
}
.title{
  margin-top: 3rem;
  margin: auto;
}

.title h1{
  font-size: 2.5rem;
}

.right{
  text-align: center;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.title p{
  font-size: 0.8;
  color: #ff4d30;
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

.log-in-box{
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.log-in-box h2{
  text-align: center;
  color: #ff4d30;
  font-size: 2rem;
}

form{
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.input-box{
  width: 60%;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0.01rem solid;
  background-color: rgba(255, 255, 255, 0.063);
  padding: 1rem;
}

form input[type=submit]{
  background-color: #ff4d30;
  color: white;
  padding: 0;
  font-weight: 600;
}

.other{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.01rem solid;
  width: 70%;
  padding-top: 2rem;
  line-height: 2rem;
}

.sign-up{
  margin-top: 3.5rem;
}

@media (max-width: 480px) {

  .hero-img img{
    width: 1%;
  }

  .hero-img{
    width: 1%;
  }
}